* {
  margin: 0px;
  padding: 0px;
}

/* Nav 1 */

.Container {
  background-color: rgb(225, 222, 222);
  height: 30px;
  display: flex;
  padding-left: 60px;
}

/* Stickey NAV*/

.Stickey {
  top: 0;
  left: 0;
  width: 100%;
}

.phone {
  height: 30px;
  width: 10%;
  margin-right: 20px;
}

.mail {
  height: 30px;
  width: 17%;
  display: flex;
  align-items: center;
}

.mail a {
  text-decoration: none;
  color: black;
}

.mail a:hover {
  text-decoration: underline;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.Social {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: right;
  margin-left: 190px;
  gap: 25px;
}

.Social .fa-x-twitter {
  color: black;
}

.Social .fa-github {
  color: black;
}

.Social .fa-facebook {
  color: #4267B2;
}

.Social .fa-instagram {
  color: #833ab4;
}

/* nav 2  */


.navbar-main {
  background-color: rgb(238, 236, 236);
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 20px;
  height: 50px;
}

.logo-name span {
  font-weight: bold;
  font-size: 20px;
}

.logo-name {
  display: flex;
  align-items: center;
  height: 50px;
  width: 28%;
}

.img {
  background-image: url("../Images/12.png");
  background-size: cover;
  height: 35px;
  width: 30%;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  display: flex;
  width: 57%;
}

.nav-links li {
  font-weight: 600;
  margin-right: 12px;
  color: black;
  padding-left: 30px;
}

.nav-links li:last-child {
  margin-right: 0;
  /* Remove margin from last list item */
}

.nav-links li a {
  color: rgb(92, 91, 91);
  text-decoration: none;
  /* Remove underline from links */
  font-size: 16px;
  /* Font size of navigation links */
}

li.active a {
  color: #000000;
}


.login-btn {
  display: inline-block; /* Allow text wrapping if needed */
  padding: 6px 16px; /* Adjust padding for desired size */
  border: none; /* Remove default border */
  border-radius: 4px; /* Create rounded corners */
  cursor: pointer; /* Indicate clickable behavior */
  background-color: #3498db; /* Adjust background color */
  color: #fff; /* Set text color to white */
  font-weight: bold; /* Emphasize the text */
  text-decoration: none; /* Remove default link underline */
  transition: 0.2s ease-in-out; /* Add hover effect */
  margin-left: 5px;
}

.Login-register .login-btn:hover {
  background-color: #0056b3;
} 



.Login-register {
  width: 15%;
  padding-left: 100px;
}







